public func {{ name }}() -> Single<{{ return_type }}> {
    return Single<{{ return_type }}>.create { single in
        let {{ name }}Request = {{ request_rpc_type }}()

        do {
            let {{ name }}Response = try self.service.{{ name.lower() }}({{ name }}Request)
            single(.success({{ name }}Response.{{ return_name }}))
        } catch {
            single(.error(error))
        }

        return Disposables.create()
    }
}
