#include <pybind11/stl.h>
#include <pybind11/pybind11.h>

#include <mavsdk/mavsdk.h>
#include <mavsdk/plugins/{{ plugin_name.lower_snake_case }}/{{ plugin_name.lower_snake_case }}.h>

namespace py = pybind11;
void init_{{ plugin_name.lower_snake_case }}(py::module_ &m, py::class_<mavsdk::System>& system) {
    py::class_<mavsdk::{{ plugin_name.upper_camel_case }}> {{ plugin_name.lower_snake_case }}(m, "{{ plugin_name.upper_camel_case }}");


{{ plugin_name.lower_snake_case }}
{% for method in methods -%}
{{ indent(method, 1) }}
{% endfor %};

{% for enum in enums %}
{{ indent(enum, 1) }}
{% endfor %}

{% for struct in structs %}
{{ struct }}
{% endfor %}

    system.def("{{ plugin_name.lower_snake_case }}", &mavsdk::System::{{ plugin_name.lower_snake_case }}, py::return_value_policy::reference_internal, py::keep_alive<1,0>());
}
