#import "plugin-{{ plugin_name.lower_snake_case }}.h"
#import "mavsdk-swift2-impl.h"

#include <mavsdk/mavsdk.h>
#include <mavsdk/plugins/{{ plugin_name.lower_snake_case }}/{{ plugin_name.lower_snake_case }}.h>

{% for enum in enums %}
{{ enum }}
{% endfor %}

{% for struct in structs %}
{{ struct }}
{% endfor %}

@implementation MAVSDK{{ plugin_name.upper_camel_case }}

mavsdk::{{ plugin_name.upper_camel_case }} *{{ plugin_name.lower_snake_case }};


+(id)alloc{
    return [super alloc];
}

- (id)initWithMavsdkSwift2Impl:(MavsdkSwift2Impl*)mavsdkSwift2Impl {
    {{ plugin_name.lower_snake_case }} = new mavsdk::{{ plugin_name.upper_camel_case }}(*[mavsdkSwift2Impl mavsdkSystem]);
    return [super init];
}

{% for method in methods -%}
{{ method }}
{% endfor %}

@end


