{% if is_async %}
/**
 * @brief {{ method_description | replace('\n', '\n *')}}
 */
void {{ name.lower_snake_case }}_async({% for param in params %}{{ param.type_info.name }} {{ param.name.lower_snake_case }}, {% endfor %}const result_callback_t callback);
{% endif %}

{% if is_sync %}
/**
 * @brief Synchronous wrapper for {{ name.lower_snake_case }}_async().
 *
 * @return Result of request.
 */
{% if has_result %}Result{% else %}void{% endif %} {{ name.lower_snake_case }}({% for param in params %}{{ param.type_info.name }} {{ param.name.lower_snake_case }}{{ ", " if not loop.last }}{% endfor %}) const;
{% endif %}
