
typedef NS_ENUM(NSInteger, MAVSDK{{ plugin_name.upper_camel_case }}{{ name.upper_camel_case }})  {
{%- for value in values %}
    MAVSDK{{ plugin_name.upper_camel_case }}{{ name.upper_camel_case }}{{ value.name.upper_camel_case }},
{%- endfor %}
};
